<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Club"
        tools:targetApi="31">
        <activity
            android:name=".PagoNoSocioActivity"
            android:label="@string/label_pagar_actividad"
            android:exported="false" />
        <activity
            android:name=".popupDetalleActividadActivity"
            android:exported="true"
            android:parentActivityName=".MenuPrincipalActivity"></activity>
        <activity
            android:name=".ListaDeCuotasActivity"
            android:exported="true"
            android:parentActivityName=".MenuPrincipalActivity"></activity>
        <activity
            android:name=".PagoEfectivo"
            android:exported="true"
            android:parentActivityName=".MenuPrincipalActivity" />
        <activity
            android:name=".ListaCuotaSocios"
            android:exported="true"
            android:parentActivityName=".MenuPrincipalActivity" />
        <activity
            android:name=".ListaUsuarios"
            android:exported="false"
            android:parentActivityName=".MenuPrincipalActivity" />
        <activity
            android:name=".BilleterasVirtuales"
            android:exported="false"
            android:parentActivityName=".MenuPrincipalActivity" />
        <activity
            android:name=".ElegirActividadNoSocioActivity"
            android:exported="false"
            android:label="@string/label_nueva_actividad"
            android:parentActivityName=".MenuPrincipalActivity" />
        <activity
            android:name=".DetalleUsuarioSocioActivity"
            android:exported="false"
            android:label="@string/llave_socio"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DetalleUsuarioNoSocioActivity"
            android:exported="false"
            android:parentActivityName=".MenuPrincipalActivity" />
        <activity
            android:name=".DetalleBilleteraActivity"
            android:exported="false"
            android:parentActivityName=".MenuPrincipalActivity" />
        <activity
            android:name=".PagoTarjetaActivity"
            android:exported="false"
            android:label="@string/label_pago_con_tarjeta"
            android:parentActivityName=".MenuPrincipalActivity" />
        <activity
            android:name=".InicioSesionActivity"
            android:exported="true"
            android:theme="@style/Theme.Club.NoTheme" />
        <activity
            android:name=".CarnetActivity"
            android:exported="true"
            android:parentActivityName=".MenuPrincipalActivity">
            <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".SeleccionFomaPagoActivity"
            android:exported="false"
            android:parentActivityName=".MenuPrincipalActivity" />
        <activity
            android:name=".ModificarUsuarioSocioActivity"
            android:exported="true"
            android:parentActivityName=".MenuPrincipalActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".InicioActivity"
            android:exported="true"
            android:theme="@style/Theme.Club.NoTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ABMActividadesActivity"
            android:exported="true"
            android:parentActivityName=".MenuPrincipalActivity" />
        <activity
            android:name=".modificar_usuario_nosocio_Activity"
            android:exported="true"
            android:parentActivityName=".MenuPrincipalActivity" />
        <activity
            android:name=".MenuPrincipalActivity"
            android:exported="false"
            android:theme="@style/Theme.Club.NoTheme" />
        <activity
            android:name=".CrearUsuario"
            android:exported="false"
            android:parentActivityName=".MenuPrincipalActivity" />
    </application>

</manifest>